@import '../../variables.css';

.setting {
	padding: 50px 50px 0 50px;
}

.setting__group {

}

.setting-invite__group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	background-color: var(--color-white);
	padding: var(--mar) var(--mar) 0;
}

.setting-invite__list {
	width: 20%;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
}

.setting-invite__list--admin .setting-invite__button {
	height: 36px;
}

.setting-invite__list .avatar {
	margin: 0 auto var(--pad-mar-xxs);
}

.setting-invite__name {
	display: block;
	padding: 0 var(--pad-mar);
}

.setting-invite__email {
	color: var(--color-silver-letter);
	font-size: var(--font-size);
}

.setting-invite__admin {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--color-sub-main);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-invite__admin i {
	color: var(--color-white);
	font-size: var(--font-size);
}

.setting-invite__button {
	margin: 10px auto var(--mar);
	max-width: 60%;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.setting-invite__list:hover .setting-invite__button {
	opacity: 1;
	visibility: inherit;
	z-index: 1;
}