@import '../../variables.css';

.task {
  padding: 50px 50px 0 50px;
}
.task__input--search {
  margin-bottom: var(--mar);
}
.task__group {

}
.task__list {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--mar);
  position: relative;
}
.task__list:before {
  content: '';
  position: absolute;
  left: 55px;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: #acb5c1;
  top: 0;
  z-index: -1;
}
.task__list--custom {
  margin-top: -30px;
}
.task__left {
  width: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 40px;
  background-color: var(--color-silver);
}
.task__list--custom .task__left {
  background-color: transparent;
}
.task__left i {

}
.task__left b {
  color: #96a1b1;
  display: block;
}
.task__left span {
  color: #96a1b1;
}
.task__right, .task__right--flag {
  flex: 1;
  background-color: var(--color-white);
}
.task__right {
  border-bottom: 1px solid #ebebeb;
}
.task__list--flag {
  margin-bottom: var(--mar);
}
.task__right {
  display: flex;
  align-items: center;
  padding: 0 var(--pad-mar-xs);
  min-height: 60px;
}
.task__right label {
  padding: 0 var(--pad-mar-xs);
  flex: 1;
}
.task__right label span {
  margin-left: var(--pad-mar);
}
.task__tool {
  margin: 0;
  padding: 0;
  list-style: none;
}
.task__tool li {
  display: inline-block;
  padding: 0 0 0 10px;
}
.task__right .task__tool, 
.task__right .checkbox {
  opacity: 0;
}
.task__right:hover .task__tool, 
.task__right:hover .checkbox {
  opacity: 1;
}
.task__right--active label {
  text-decoration: line-through;
}
.task__right--active .checkbox {
  opacity: 1 !important;
}
.task__right--active {
  opacity: 0.5;
}