@import '../../variables.css';

.checkbox {
  cursor: pointer;
  height: 24px;
}

.checkbox i {
  line-height: 1;
}

.checkbox--disabled {
  pointer-events: none;
}

.checkbox--disabled i {
  color: var( --color-gray-xl);
  
}